* {
  box-sizing: border-box;
}

::-moz-selection {
  background: #8ed78d;
  color: #006a1f;
  text-shadow: none;
}

body {
  margin: 0;
  background-color: #fff;
  color: #333;
  line-height: 1.42;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
}

/* --- Navigation bar --- */
#navbar_wrap {
  position: fixed;
  left: 0;
  top: 0;
  /* If position: fixed; - the right property sets the right edge of an element
  to a unit to the right of the right edge of its nearest positioned ancestor. */
  right: 0px;
  margin-left: auto;
  margin-right: auto;
  min-height: 50px;
  max-width: 900px;
}
.navbar {
  list-style: none;
  margin: 0;
  padding: 0;
}
.navbar li {
  float: left;
}
.navbar li a {
  padding: 16px;
  text-decoration: none;
  text-align: center;
  display: block;
  color: black;
  font-size: 17px;
  color: #70e9d1;
}
.navbar-right {
  float: right;
}
.navbar-left {
  float: left;
}
.navbar-hover li a:hover {
  border-bottom: 2px solid #70e9d1;
}
@media only screen and (max-width: 600px) {
  .navbar-left {
    width: 100%;
  }
  .navbar-right {
    width: 100%;
  }
  .navbar-right li {
    margin-left: auto;
    margin-right: auto;
    float: none;
    width: 90%;
  }
  .navbar-right li a {
    text-align: left;

  }
}

/* --- Header --- */
#header_wrap {
  padding-top: 230px;
  text-align: center;
  min-height: 430px;
  box-sizing: border-box;
  /* url from current dir: css */
  background: url(../images/back.jpg) no-repeat center top;
  color: white;
  font-size: 20px;
}

#social_wrap, #photos_wrap, #footer_wrap {
  visibility: hidden;
}
